// @use "../../variables.scss" as *;

@use "sass:math";

.view-wrapper-task-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

#price-grid,
#grid {
  max-height: 80%;
}

.container {
  height: 100%;
  flex-direction: column;
  display: flex;
}

.view-wrapper {
  display: flex;
  overflow: hidden;
}
