
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#gridContainer .informer {
  display: grid;
  width: 120px;
  grid-template-columns: 100%;
  padding-right: 20px;
  text-align: center;
}

#gridContainer .count {
  font-size: 18px;
  font-weight: 500;
}

.grid-header {
  @include header();
}

.view.crm-contact-list {
  width: 100%;
  display: contents;
}

.view-wrapper-contact-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;
}

/* .btn_new {
  background-color: red;
} */

#gridContainer .dx-toolbar-items-container {
  min-height: 44px;
  margin-top: 200px;
}

.dx-toolbar {
  margin-bottom: 0;
  padding: var(--toolbar-margin-bottom) 0;
}

.btn1 {
  background-color: aquamarine;
  width: 200;
}

.dx-state-focused {
  background-color: red;
  color: red;
}

.toolbar-separator {
  height: 36px;
  margin: 0 5px;
  border-left: 1px solid #ddd;
}

.toolbar-menu-separator {
  height: 1px;
  border-bottom: 1px solid #ddd;
}
